[Desktop Entry]
Type=Application
Name=Tray Pumpkin
GenericName=Tray Utility
Comment=Configurable tray icon and menu
Exec=tray-pumpkin
Icon=tray-pumpkin
Terminal=false
Categories=Utility;Qt;
StartupNotify=false

